@import 'colors';
@import 'view';

body {
    background-color: $bluegreen;
}

.first-last-name {
    background-color: $bluegreen;
}

h4 {
    padding: 7px 0;
}

.input-group {
    padding-bottom: 20px;
}

.radioGender {
    padding-right: 20px;
}