<div class="text-center" id="new">
    <h1>New</h1>
    
    <form class="col-xs-6 col-xs-offset-3">
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="sexualOrientation" placeholder="Sexual Orientation">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="relationship" placeholder="Relationship to David">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="car" placeholder="Car make/model">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="hairColor" placeholder="Hair Color">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>