<div class="text-center" id="new">
    <h1>New</h1>
    
    <form name="newContactForm" ng-submit="submitForm()" class="col-xs-4 col-xs-offset-4">
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-required="true" ng-model="contact.firstName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-required="true" ng-model="contact.lastName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" ng-required="true" ng-model="contact.phoneNumber">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="birthday" placeholder="Birthday" ng-required="true" ng-model="contact.birthday">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="relationship" placeholder="Relationship to David" ng-required="true" ng-model="contact.relationToMe">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="car" placeholder="Car make/model" ng-required="true" ng-model="contact.car">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="hairColor" placeholder="Hair Color" ng-required="true" ng-model="contact.hairColor">
        </div>
        <div class="radio">
            <label class="radioGender">
                <input type="radio" name="maleOption" id="maleOption" value="Male" ng-model="contact.gender"> Male
            </label>
            <label>
                <input type="radio" name="femaleOption" id="femaleOption" value="Female" ng-model="contact.gender"> Female
            </label>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="newContactForm.$invalid" ng-click="saveContact(user)">Submit</button>
    </form>

</div>