<div class="text-center" id="view">
    <h1>View</h1>
    
    <div id="viewContacts">
        <div ng-repeat="contact in contact" class="col-sm-6 col-md-4 contact">
            <div class="thumbnail">
                <div class="caption">
                    <button class="btn btn-default detail" ng-click="contactDetail(contact.id)"><i class="fa fa-search"></i></button>
                    <p class="first-name">{{contact.firstName}} {{contact.lastName}}</p>
                    <p class="first-name">{{contact.phoneNumber}}</p>
                    <p class="first-name">{{contact.sexualOrientation}}</p>
                    <p class="first-name">{{contact.relationToMe}}</p>
                    <p class="first-name">{{contact.car}}</p>
                    <p class="first-name">{{contact.hairColor}}</p>
                    <p>
                        <a class="btn btn-danger delete" role="button" ng-click="deleteContact(contact.id)">Delete Contact</a>
                        <button class="btn btn-default not-favorited" ng-if="!contact.isFavorited" ng-click="starChange(contact)"><i class="fa fa-star-o"></i></button>
                        <button class="btn btn-default not-favorited" ng-if="contact.isFavorited" ng-click="starChange(contact)"><i class="fa fa-star"></i></button>
                        <button class="btn btn-default not-favorited" ng-click="editContact(contact.id)"><i class="fa fa-pencil-square-o"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>